@font-face {
    font-family: PoppinsBigBold;
    src: url(./assets/Poppins/Poppins-ExtraBold.ttf);
}

:root{
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::before{
    box-sizing: border-box;
}

*{
    margin: 0;
}

picture, video, canvas, svg, img{
    display: block;
    max-width: 100%;
}

input, button, textarea, select{
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p{
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root{
    /* border: 1px solid red; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    /*display: flex;
    justify-content: center;
    align-items: center; */
    padding: 0rem 3rem;
}

#hero{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

#hero div{
    /* border: 1px solid red; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero h1{
    font-size: 6rem;
    text-align: center;
}

h1 span{
    text-decoration: underline;
}

#hero p{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(53, 53, 53);
}

#hero img{
    flex: 1;
}

#main-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-section h2{
    font-size: 4.5rem;
    margin-bottom: 50px;
}

#main-section p{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
    width: clamp(500px, 70%, 800px);
}
  
#navbar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

#logo{
    font-family: PoppinsBigBold;
    font-size: 4rem;
    line-height: 1;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    background-color: rgb(179, 169, 79);
    margin-top: auto;
    padding: 1rem 4rem;
}

.active{
    font-weight: bold;
}